/* SPDX-License-Identifier: GPL-3.0-only OR Apache-2.0 OR MIT
 * SPDX-FileCopyrightText: 2024 Charles Wong <charlie-wong@outlook.com>
 * Created By: Charles Wong 2024-07-07T08:00:07+08:00 Asia/Shanghai
 * Repository: https://github.com/xwlc/mini-logo
 */

#welcome {
  border: 6px solid; border-radius: 8px; border-color: linen;
  background-color: lightgray; width: 600px; height: 200px;
  display: flex; align-items: center; justify-content: center;
}

#showTimeLoc, #showTimeUtc {
  font-size: 2.5em; font-weight: 400;
}

#ganzhi {
  font-size: 1.5em; font-weight: 400;
  display: grid; place-items: center;
}

canvas {
  border: 6px solid; border-color: linen; box-sizing: border-box;
}
