/* SPDX-License-Identifier: GPL-3.0-only OR Apache-2.0 OR MIT
 * SPDX-FileCopyrightText: 2024 Charles Wong <charlie-wong@outlook.com>
 * Created By: Charles Wong 2024-07-07T08:00:07+08:00 Asia/Shanghai
 * Repository: https://github.com/xwlc/mini-logo
 */

#zWelcome {
  width: 35%; padding: 1% 0; margin: 0 auto; /* 上右下左 */
  border: 0.3vw double; border-radius: 0.6vw; border-color: linen;
}

#ganzhi {
  font-size: 1.5vmin; font-weight: 400;
}

#timeinfo {
  font-size: 3vmin; font-weight: 400;
}

canvas {
  border: 0.3vw solid; border-radius: 0.6vw; border-color: linen;
}
